#artifact {
  text-align: left;
}

#artifact > div,
#artifact > section {
  margin-bottom: 3rem;
}

#artifact #back {
  display: block;
  margin-bottom: 3rem;
}

#artifact-media {
  @include variables-alternative(background-color, #000, --black);
  text-align: center;
  width: 50%;
}

#artifact-media * {
  @include variables-alternative(color, #fff, --white);
}

#artifact-media div {
  padding: 5rem 0;
}

#artifact-media figure {
  display: inline-block;
  margin: 0;
}

#artifact-media figure img {
  @include variables-alternative(background-color, #eee, --grey);
  display: block;
  height: 300px;
}

#artifact-media figure figcaption {
  @include variables-alternative(background-color, #495057, --gunmetal);
  display: block;
  padding: 0.5rem 2rem;
  width: 100%;
}

#artifact-media footer {
  @include variables-alternative(background-color, #495057, --gunmetal);
  margin: 0;
  padding: 1rem;
}

#artifact-media footer a {
  text-decoration: underline;
}

.artifact-summary {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  margin-left: auto;
  margin-right: auto;
  padding: 3rem 4rem;
  width: 60%;

  p {
    font-family: 'Open Sans';
    font-size: 14px;
    font-weight: bold;
    margin: 1rem 0 0;
    text-transform: uppercase;
    width: 100%;
  }
}

.artifact-detail {
  @include variables-alternative(border-color, #000, --black);
}

#artifact .related > div {
  max-width: 100%;
  overflow-x: auto;
}

#artifact .related table * {
  border-color: #ccc;
  border-width: 1px;
}

#artifact .related table tr {
  border-bottom-style: solid;
}

#artifact .related table td,
#artifact .related table th {
  padding: 1em;
}

#artifact .related table td:empty::after {
  color: #ccc;
  content: 'NULL';
  font-style: italic;
}

#artifact .related table td:not(:first-child),
#artifact .related table th:not(:first-child) {
  border-left-style: solid;
}

.artifact-desc {
  font-size: 24px;
}

.artifact-detail {
  section {
    label {
      font-family: 'Open Sans';
      font-size: 24px;
      font-weight: lighter;
      margin-bottom: 0;
      padding: 1rem 0;
    }
  }
}

.artifact-sub-heading {
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: lighter;
  margin-left: 1.25rem;
  padding: 1rem 0;
}

.export-grid {
  .row {
    min-width: 50rem;

    a,
    h3,
    h4 {
      display: block;
      font-family: 'Open Sans';
      font-weight: lighter;
      margin: 1rem 0.75rem;
    }

    h3 {
      font-size: 22px;
      font-weight: 400;
    }

    h4 {
      font-size: 20px;
    }
  }
}

.accordion-1 h3 {
  font-size: 24px;
  font-weight: lighter;
}

#parent-div {
  margin-left: -15px;
  margin-right: -22px;
}

.artifact-detail ul {
  list-style-type: none;
}

.line-art {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 3px 6px;
  text-decoration: none;
}

.outer-div {
  display: flex;
  justify-content: center;
}

.outer-div1 {
  display: flex;
}

#artifact-media .btn-group {
  background-color: #495057;
  justify-content: center;
  width: 100%;
}

.artifact-acc .accordion > section > .accordion-title {
  box-shadow: none;
}

#single-artifact-btn2 {
  background-color: #495057;
  border: 1px solid #fff;
  border-radius: 5px 0 0 5px;
}

.ar-hr {
  background-color: #000;
}

.export-grid .row {
  background-color: #fff;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
}

.export-grid .row h3 {
  color: #1661ab;
}

@media only screen and (max-width: 1380px) {
  .outer-div {
    display: block;
  }
}

@media only screen and (max-width: 992px) {
  .export-grid {
    .row {
      min-width: 40rem;
    }
  }
}

@media only screen and (max-width: 600px) {
  .artifact-summary {
    padding: 1.5rem;
  }

  .single-art-heading {
    font-size: 32px;
  }

  .artifact-detail {
    section {
      label {
        font-size: 1rem;
        padding: 0.25rem 0;
      }
    }
  }

  .export-grid {
    .row {
      min-width: 95vw;
    }
  }

  .artifact-desc {
    font-size: 1rem;
  }
}

.btn-ar {
  background-color: #fff;
}

#ar-txt,
.btn-ar::after {
  color: #495057;
}

@media only screen and (max-width: 645px) {
  .artifact-summary {
    margin-left: -20px;
    margin-right: 0;
    width: 89%;
  }

  .outer-div1 {
    display: block;
  }

  #artifact-media {
    margin-bottom: 20px;
    width: 92%;
  }
}

#single-artifact-dd .dropdown-item {
  color: #000;
  text-decoration: none;
}

#single-artifact-btn {
  background-color: #495057;
  border: 1px solid #fff;
  border-radius: 5px;
}
