.add-btn {
  font-family: 'Open Sans', sans-serif;
}

.more-ent-mobile {
  margin-top: 12px;
}

.d-flex h3 {
  font-size: 24px;
}

.admin-text {
  font-size: 16px;
  font-weight: normal;
}

#file-icon {
  cursor: pointer;
  font-size: 30px;
  margin-bottom: 92%;
}

.emp {
  min-height: 2.7em;
}

.right-add-btn {
  float: right;
  margin-top: 10px;
}

.box {
  display: inline-block;
  vertical-align: middle;
}

.left1 {
  float: left;
}

.moreentity-btn {
  margin-bottom: 0;
  margin-right: 87%;
  padding: 1px 40px;
}

.dashboardbtn1 {
  margin-right: 1%;
  width: 47%;
}

.dropdown-menu1 {
  min-width: 200px;
}

.dropdown-menu.columns-3 {
  min-width: 600px;
}

.dropdown-menu1 li a {
  font-weight: 300;
  padding: 5px 5px 5px 25px;
}

.multi-column-dropdown {
  list-style: none;
  margin: 0;
  padding: 0;
}

.multi-column-dropdown li a {
  clear: both;
  color: #000;
  display: block;
  line-height: 1.428571429;
  white-space: normal;
}

.multi-column-dropdown li a:hover {
  background-color: #f7f7f7;
  text-decoration: none;
}

.dashboardbtn2 {
  margin-left: 1%;
  width: 47%;
}

.dashboardbtn3 {
  width: 98%;
}

.dash-txt {
  font-weight: normal;
}

@media screen and (max-width: 1030px) {
  .dash-txt {
    font-size: 40px;
  }
}

@media screen and (max-width: 1300px) and (min-width: 992px) {
  #dashboardbtn11 {
    margin-bottom: 6px;
    margin-left: 1%;
    width: 98%;
  }

  #dashboardbtn22 {
    margin-right: 1%;
    width: 98%;
  }
}

@media screen and (max-width: 375px) {
  #dashboardbtn11 {
    margin-bottom: 6px;
    margin-left: 1%;
    width: 98%;
  }

  #dashboardbtn22 {
    margin-right: 1%;
    width: 98%;
  }
}

@media only screen and (max-width: 991px) {
  .dropdown-menu.multi-column {
    margin-right: 100px;
    min-width: 200px !important;
    overflow-x: hidden;
  }

  .dash-txt {
    font-size: 28px;
  }

  .ls {
    display: none;
  }

  #file-icon {
    font-size: 25px;
    margin-bottom: 60%;
  }
}

@media only screen and (min-width: 992px) {
  .ss {
    display: none;
  }
}
