.no-js-dd {
  display: inline-block;
  position: relative;

  button {
    background-color: #1661ab;
    border: 0;
    color: #fff;
    font-size: 1rem;
    padding: 8px;
  }
}

.no-js-dd:hover .no-js-dd-content {
  display: block;
}

.no-js-dd-content {
  background-color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  display: none;
  min-width: 160;
  position: absolute;
  width: fit-content;
  z-index: 1;

  a {
    // color: black;
    // padding: 12px 16px;
    // text-decoration: none;
    // display: block;

    // &:hover{
    // background-color: #ddd;
    // }
  }
}
