@mixin variables-alternative($property, $value, $alternative) {
  #{$property}: $value;
  #{$property}: var($alternative);
}

.filter-modal {
  border-radius: 0;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.15);
  padding: 60px;
}

.filter-heading {
  font-family: 'Open Sans';
  font-size: 36px;
  font-weight: 300;
  line-height: 1.33;
}

.filter-close {
  @include variables-alternative(background-color, #eee, --grey);
  border: 0;
  height: 36px;
  margin-bottom: auto;
  margin-top: auto;
  transition: 0.3s;
  width: 36px;

  &:hover {
    @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  }
}

.filter-group {
  @include variables-alternative(background-color, #f7f7f7, --foggy-grey);
  border: solid 1px #ccc;
  color: #000;
  outline: none;
  padding: 10px 12px;
  text-align: left;
  transition: 3s;
  width: 100%;

  &--header {
    @extend .filter-group;
    @include variables-alternative(background-color, #495057, --gunmetal);
    @include variables-alternative(border-color, #000, --black);
    border: solid 1px;
    color: #fff;
  }
}

.filter-icon {
  margin: auto 5px;
}

.tag {
  @include variables-alternative(background-color, #495057, --gunmetal);
  border-radius: 0;
  display: inline;

  &:hover {
    border: solid 1px #000;
  }
}

.artifact-count {
  font-size: 0.75rem;
  font-weight: 300;
}
